body{
    background-color: gray;
    margin: auto;
}

header{
    font-size: 2em;
    text-align: center;   
}

h1{
    border-style: outset;
    background-color: rgb(202, 161, 226);
    color: rgb(142, 39, 202);
    font-size: 3em;
    font-family: impact;
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left:auto;
    margin-right:auto;
    width: 800px;
}

h3{
    background-color:rgb(23, 161, 23);
    color: orange;
    font-family: cursive;
    font-size: 20px;
    margin-left: 6px;
    text-align:center;
    width:200px;
    padding:20px 20px 20px 20px;
}

img{
    float:left;
    margin-top: -80px;
    margin-left: 10px;
    width:450px;
}

#nana{
    float:left;
    margin-left: 10px;
    margin-top: 200px;
}

#skate{
    float:right;
    width:450px;
    margin-right:10px;
}

.right{
    margin-left:500px;
}


p{
    border-radius:10px;
    background-color:#FFD47A;
    font-size:18px;
    line-height:1.6;
    width: 400px;
}

ul{
    border-radius: 20px;
    background-color:#FFD47A;
    display:block;
    line-height:2;
    list-style-type:disc;
    margin-left:auto;
    margin-right:auto;
    width: 400px;
}

ol{
    border-radius: 20px;
    background-color:#FFD47A;
    display:block;
    list-style-type:decimal;
    line-height:2;
    margin-left:500px;
    width: 400px;
}

#topTen{
    width: 400px;
    margin-left:auto;
    margin-right:auto;
}

